<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotifier" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Test/Constructor" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotifier" contract="ServiceReference1.INotifier"
                name="BasicHttpBinding_INotifier" />
        </client>
    </system.serviceModel>
</configuration>