<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IATMMonitor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:800/Monitor/ATM" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IATMMonitor" contract="ServiceReference1.IATMMonitor"
                name="BasicHttpBinding_IATMMonitor" />
        </client>
    </system.serviceModel>
</configuration>