<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRequest" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Request/RequestService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRequest"
                contract="ServiceReference1.IRequest" name="WSHttpBinding_IRequest">
                <identity>
                    <userPrincipalName value="DESKTOP-HJR0GT7\erykt" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>